[submodule "Tools/create-dmg"]
	path = Tools/create-dmg
	url = https://github.com/create-dmg/create-dmg
[submodule "PicoGK Example/PicoGK"]
	path = PicoGK Example/PicoGK
	url = https://github.com/leap71/PicoGK
[submodule "PicoGK Example/ShapeKernel"]
	path = PicoGK Example/ShapeKernel
	url = https://github.com/leap71/LEAP71_ShapeKernel
[submodule "PicoGK Example/LatticeLibrary"]
	path = PicoGK Example/LatticeLibrary
	url = https://github.com/leap71/LEAP71_LatticeLibrary
